@page "/users/edit/{id}"

@inject NavigationManager uriHelper
@inject ISetupUserService service
@inject HttpInterceptorService Interceptor

@implements IDisposable

@attribute [Authorize(Roles = "Setup")]

<h3>Create</h3>

<UsersForm ButtonText="Edit" user="@user" OnValidSubmit="@EditUser" />

<button @onclick="ViewRoles" class="btn btn-primary"> Roles </button>

<RolesDialog @ref="rolesDialog" userId="@id"></RolesDialog>

@code {
    [Parameter] public string id { get; set; }

    private UserDto user = new UserDto();
    private RolesDialog rolesDialog;

    protected override void OnInitialized()
    {
        Interceptor.RegisterEvent();
    }

    protected async override Task OnParametersSetAsync()
    {
        user = await service.GetById(id);
        user.OldUsername = user.UserName;
        user.OldEmail = user.Email;
    }

    private void ViewRoles()
    {
        rolesDialog.Show();
    }

    private async Task EditUser()
    {
        await service.Edit(user);
        uriHelper.NavigateTo("users");
    }

    public void Dispose() => Interceptor.DisposeEvent();
}
