@page "/project/task/create/{projectId}"

@inject ITaskService service
@inject NavigationManager uriHelper
@inject HttpInterceptorService Interceptor

@implements IDisposable

@attribute [Authorize(Roles = "Setup")]

<h3>Create</h3>

<Form ButtonText="Create" task="@task" OnValidSubmit="@CreateTask" />

@code {
    [Parameter] public string projectId { get; set; }

    TaskDto task;

    protected override void OnInitialized()
    {
        Interceptor.RegisterEvent();
    }

    protected override void OnParametersSet()
    {
        task = new TaskDto
        {
            ProjectId = Int32.Parse(projectId)
        };
    }

    private async Task CreateTask()
    {
        await service.Create(task);
        uriHelper.NavigateTo("project/tasks/" + projectId);
    }

    public void Dispose() => Interceptor.DisposeEvent();
}