@page "/tasks/edit/{id:int}"

@inject ITaskService service
@inject NavigationManager uriHelper
@inject HttpInterceptorService Interceptor

@implements IDisposable

@attribute [Authorize(Roles = "Setup")]

<h3>Edit</h3>

<Form ButtonText="Edit" task="@task" OnValidSubmit="@EditTask" />

@code {
    [Parameter] public int id { get; set; }
    TaskDto task = new TaskDto();

    protected override void OnInitialized()
    {
        Interceptor.RegisterEvent();
    }

    protected async override Task OnParametersSetAsync()
    {
        task = await service.GetById(id);
    }

    private async Task EditTask()
    {
        await service.Edit(task);
        uriHelper.NavigateTo("project/tasks/" + task.ProjectId);
    }

    public void Dispose() => Interceptor.DisposeEvent();
}