@page "/projects/edit/{id:int}"

@inject IProjectService service
@inject NavigationManager uriHelper
@inject HttpInterceptorService Interceptor

@implements IDisposable

@attribute [Authorize(Roles = "Setup")]

<h3>Edit</h3>

<Form ButtonText="Edit" project="@project" OnValidSubmit="@EditProject" />

@code {
    [Parameter] public int id { get; set; }
    ProjectDto project = new ProjectDto();

    protected override void OnInitialized()
    {
        Interceptor.RegisterEvent();
    }

    protected async override Task OnParametersSetAsync()
    {
        project = await service.GetById(id);
        project.OldCode = project.Code;
        project.OldTitle = project.Title;
    }

    async Task EditProject()
    {
        await service.Edit(project);
        uriHelper.NavigateTo("projects");
    }

    public void Dispose() => Interceptor.DisposeEvent();
}