@page "/time/edit/{id}"
@inject ITimeService service
@inject NavigationManager uriHelper
@attribute [Authorize]

<h3>Edit</h3>

<Form ButtonText="Edit" time="@time"
      OnValidSubmit="@EditTask" />

@code {
    [Parameter] public string id { get; set; }
    TimeDto time = new TimeDto();

    protected async override Task OnParametersSetAsync()
    {
        time = await service.GetById(id);
    }

    async Task EditTask()
    {
        await service.Edit(time);
        uriHelper.NavigateTo("/");
    }
}