@page "/time/edit/{id:int}"

@inject ITimeService service
@inject NavigationManager uriHelper
@inject HttpInterceptorService Interceptor

@implements IDisposable

@attribute [Authorize]

<h3>Edit</h3>

<Form ButtonText="Edit" time="@time"
      OnValidSubmit="@EditTask" />

@code {
    [Parameter] public int id { get; set; }
    TimeDto time = new TimeDto();

    protected override void OnInitialized()
    {
        Interceptor.RegisterEvent();
    }

    protected async override Task OnParametersSetAsync()
    {
        time = await service.GetById(id);
    }

    private async Task EditTask()
    {
        await service.Edit(time);
        uriHelper.NavigateTo("/");
    }

    public void Dispose() => Interceptor.DisposeEvent();
}